.card {
	.card-body {
		> *:last-child {
			margin-bottom: 0;
		}
		
		padding: 1em;
	}
	
	.card-image {
		img {
			transition: all 0.25s ease;
			width: 100%;
		}
		
		overflow: hidden;
		position: relative;
	}
	
	border-radius: 0;
	position: relative;
	height: 100%;
}

.card:hover {
	.card-image {
		img {
			transform: scale(1.1);
		}
	}
}