@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Khula:800&display=swap');

body {
	font-family: 'Noto Sans';
}

a,
.btn,
h1,
h2,
h3,
h4,
#icons-show-hide-label
{
	font-family: 'Khula';
	font-weight: 800;
	text-transform: uppercase;
}