ul.graph {
	li {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		font-weight: 800;
		min-height: 0;
		order: 1;
		position: relative;
		text-align: center;
		transition: all 1s ease;
		width: 5em;
	}
	
	li::before {
		background-color: #00F;
		border-bottom: 8px solid #000;
		content: "";
		flex-grow: 1;
		margin: auto;
		width: 1em;
	}
	
	li:hover::before {
		background-color: #F0F;
	}
	
	li::after {
		content: attr(data-years) " year(s)";
		font-size: 1rem;
		position: relative;
		top: -0.5em;
	}
	
	align-items: flex-end;
	background-attachment: local;
	background-image: linear-gradient(
		90deg,
		#FFF 0%,
		#FFF 99%,
		#000 100%
	);
	background-size: 5em;
	border: 2px solid #000;
	font-size: 1.25rem;
	display: flex;
	height: 12em;
	list-style: none;
	margin: 0;
	overflow: auto hidden;
	padding: 2em 0 0.5em 0;
}