#header {
	.container {
		color: #FFF;
		flex-grow: 1;
		mix-blend-mode: difference;
		position: relative;
		text-align: center;
		z-index: 1;
	}
	
	align-items: center;
	background: linear-gradient(
		45deg,
		#00F,
		#FF0
	);
	display: flex;
	min-height: 100vh;
	overflow: hidden;
	padding: 32px;
	position: relative;
	width: 100%;
}

#header::before {
	background-color: #000;
	clip-path: circle(71% at center);
	content: "";
	height: calc(100% - 64px);
	position: absolute;
	right: 32px;
	transition: all 1s ease;
	top: 32px;
	width: calc(100% - 64px);
}

body.scrolled #header::before {
	clip-path: circle(0 at center);
}